manifest:
  remotes:
  - name: nxp
    url-base: https://github.com/NXP
  - name: nxp-zephyr
    url-base: https://github.com/nxp-zephyr
  - name: nxp-mcuxpresso
    url-base: https://github.com/nxp-mcuxpresso
  - name: qcbor_upstream
    url-base: https://github.com/laurencelundblade
  - name: tf_m_tests
    url-base: https://github.com/TrustedFirmware-M
  defaults:
    remote: nxp-mcuxpresso
  projects:
  - name: els_pkc
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/components/els_pkc
    revision: 296d94ed5932d1a25a8d00f20e3454c3936ee85d
    url: https://github.com/NXP/els_pkc
    groups:
    - security
    - els_pkc
  - name: se_hostlib
    userdata:
      owner: null
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/middleware/se_hostlib
    revision: 410f88d9393d9b536f3900ac0e5acb019ee9d6f3
    submodules: false
    groups:
    - bifrost
  - name: secure-subsystem
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/middleware/secure-subsystem
    revision: 1704b203c95917d4623a77784e71c1e44639872e
    url: https://github.com/nxp-mcuxpresso/mcux-secure-subsystem
    groups:
    - secure-subsystem
    - ble_nxp
  - name: edgelock
    userdata:
      owner: vit.solcik@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/firmware/edgelock
    revision: 2bef02cfbb7079107ccda2b9a72af0d613aa9192
    repo-path: mcux-edgelock
    groups:
    - edgelock
    - security
  - name: mbedtls
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/middleware/mbedtls
    revision: 3d140b49ed730d7e33d8cac2f2072532b97b30c7
    groups:
    - mbedtls
    - security
  - name: mbedtls3x
    userdata:
      owner: ruchika.gupta_1@nxp.com
      dev_branch: mcux_main
      track_branch: mcux_main
      branch_flow: false
    remote: nxp
    repo-path: nxp_mbedtls
    path: mcuxsdk/middleware/mbedtls3x
    revision: 9af0a0c7521ff1e1ba82e3b7c921f81c86017adb
    groups:
    - mbedtls3x
    - security
  - name: nxp_iot_agent
    userdata:
      owner: bojan.simoneta@nxp.com
      track_branch: main
      branch_flow: false
    remote: nxp
    repo-path: el2go-agent
    path: mcuxsdk/middleware/nxp_iot_agent
    revision: 803f9276ea2c1a057c483c2671bda722cd7ee91f
    groups:
    - nxp_iot_agent
    - security
  - name: tfm
    userdata:
      owner: waqar.tahir@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/middleware/tfm/tf-m
    remote: nxp
    repo-path: nxp_tf-m
    revision: b86107b865ac39070c4b64f57ce6fc3b7f9655d1
    groups:
    - tfm
  - name: psa_crypto_driver
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: main-dev
      branch_flow: false
    path: mcuxsdk/components/psa_crypto_driver
    revision: ad9ed6e8756c9d5a041821c9a757cc9ca2d0845d
    url: https://github.com/NXP/psa_crypto_driver
    groups:
    - psa_crypto_driver
    - security
  - name: mmcau
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/middleware/mmcau
    revision: 2381e9a66cb034386b8a8a6c35c6dc2c8e853dca
    url: https://github.com/nxp-mcuxpresso/mcux-mmcau
    groups:
    - mmcau
    - security
  - name: psa-arch-tests
    userdata:
      owner: waqar.tahir@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/middleware/tfm/psa-arch-tests
    remote: nxp
    repo-path: nxp_psa_arch_test
    revision: faecab500f20563fb0b1f5500e801f4225f9db73
    groups:
    - tfm
    - security
  - name: tf-m-tests
    userdata:
      owner: waqar.tahir@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/middleware/tfm/tf-m-tests
    remote: tf_m_tests
    repo-path: tf-m-tests
    revision: 6f642014a8c255e163ae0bc4d21e327de694d6a2
    groups:
    - tfm
    - security
  - name: qcbor
    userdata:
      owner: waqar.tahir@nxp.com
      track_branch: master
      branch_flow: false
    path: mcuxsdk/middleware/tfm/qcbor
    revision: 751d36583a9ce1a640900c57e13c9b6b8f3a2ba2
    remote: qcbor_upstream
    repo-path: QCBOR
    groups:
    - tfm
    - security
  - name: secure_storage
    userdata:
      owner: ruchika.gupta_1@nxp.com
      track_branch: main
      branch_flow: false
    path: mcuxsdk/middleware/secure_storage
    remote: nxp-mcuxpresso
    revision: 49e1ded26283d783dbfc12868387170cd743a1f4
    repo-path: secure_storage
    groups:
    - secure_storage
    - security
  - name: sgi_pkc
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: main
      branch_flow: false
    path: mcuxsdk/components/sgi_pkc
    revision: 5f621439b930a970f0f0d4149be7c1f8d46bdbf3
    url: https://github.com/nxp-mcuxpresso/sgi_pkc
    groups:
    - security
    - sgi_pkc
